body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.jannela-pag{
    position: absolute;
    padding: 2% 2%;
    top: 15%;
    width: 70%;
    height: 70%;
    background-color: rgba(0, 0, 0, 0.911);
    box-shadow: 0 0 10px #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 10000;
    display: none;
    backdrop-filter: blur(20px);
    transition: all 0.3s ease;
}
.jannela-pag .titlepag img{
    margin: 0 -40% 0 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.jannela-pag .titlepag{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.jannela-pag .titlepag .titlepag1, .titlepag2, .titlepag3, .titlepag4, .titlepag5{
    margin: 10px 0 0 0;
    font-size: 40px;
    color: #fff;
    font-weight: 700;
    background-color: rgb(228, 102, 0);
    text-align: center;
    width: 100%;
    border-radius: 10px;
}
.jannela-pag .titlepag .titlepag5{
    margin: 10px 0 0 0;
    font-size: 40px;
    color: #fff;
    font-weight: 700;
    background-color: rgb(228, 152, 90);
    text-align: center;
    width: 100%;
    border-radius: 10px;
}